### Limpieza base de datos ###

In [ ]:
#libreria numpy
import numpy as np

In [ ]:
#Libreria pandas
import pandas as pd
df = pd.read_csv("df_sucio.csv")
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,NaN,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
19580,NaN,MotoGP 07,PS2,2007.0,Racing,Capcom,0.05,0.04,0.00,0.01,0.10
19581,12130,Secret Service: Ultimate Sacrifice,PS2,2008.0,NaN,Activision,0.03,0.03,0.00,0.01,0.07
19582,5887,Monster Truck Madness 64,N64,1999.0,Racing,Take-Two Interactive,0.24,0.06,NaN,0.00,0.30
19583,10408,NaN,PSV,2014.0,Role-Playing,Ubisoft,0.00,0.07,0.02,0.02,0.11
19584,13608,The Monkey King: The Legend Begins,NaN,2007.0,Shooter,Starfish,0.04,NaN,0.00,0.00,0.04

### Limpieza columna "Rank" ###

Para la limpieza de esta columna, al ser un dato no vital para el analisis, procedemos simplemente a rellenar los datos NaN con el numero 0 en este caso

In [ ]:
#Rellenamos los NaN de la columna Rank con ceros
df["Rank"] = df["Rank"].fillna(0)
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,NaN,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
19580,0,MotoGP 07,PS2,2007.0,Racing,Capcom,0.05,0.04,0.00,0.01,0.10
19581,12130,Secret Service: Ultimate Sacrifice,PS2,2008.0,NaN,Activision,0.03,0.03,0.00,0.01,0.07
19582,5887,Monster Truck Madness 64,N64,1999.0,Racing,Take-Two Interactive,0.24,0.06,NaN,0.00,0.30
19583,10408,NaN,PSV,2014.0,Role-Playing,Ubisoft,0.00,0.07,0.02,0.02,0.11
19584,13608,The Monkey King: The Legend Begins,NaN,2007.0,Shooter,Starfish,0.04,NaN,0.00,0.00,0.04

In [ ]:
#Comprobamos que efectivamente, ya no tenemos datos nulos en esa columna
df.isnull().sum()

Rank              0
Name            587
Platform        587
Year            898
Genre           587
Publisher       654
NA_Sales        587
EU_Sales        587
JP_Sales        587
Other_Sales     587
Global_Sales    970
dtype: int64

Una vez que nos deshicimos de los datos NaN, tenemos que comprobar que no hayan datos atipicos o erroneos

In [ ]:
#Aqui logramos ver que hay 381 datos invalidos (Auto%#)
df["Rank"].value_counts()

Rank
0         587
Auto%#    381
798         4
4128        4
6664        4
         ...
3896        1
5971        1
13749       1
562         1
14633       1
Name: count, Length: 15917, dtype: int64

In [ ]:
#Para limpiarlos, simplemente reemplazamos los datos invalidos por datos NaN mediante Numpy
df["Rank"]= df["Rank"].replace("Auto%#", np.nan)
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,NaN,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
19580,0,MotoGP 07,PS2,2007.0,Racing,Capcom,0.05,0.04,0.00,0.01,0.10
19581,12130,Secret Service: Ultimate Sacrifice,PS2,2008.0,NaN,Activision,0.03,0.03,0.00,0.01,0.07
19582,5887,Monster Truck Madness 64,N64,1999.0,Racing,Take-Two Interactive,0.24,0.06,NaN,0.00,0.30
19583,10408,NaN,PSV,2014.0,Role-Playing,Ubisoft,0.00,0.07,0.02,0.02,0.11
19584,13608,The Monkey King: The Legend Begins,NaN,2007.0,Shooter,Starfish,0.04,NaN,0.00,0.00,0.04

In [ ]:
#Una vez que los datos ya son NaN, procedemos a reemplazarlos con el numero 0
df["Rank"] = df["Rank"].fillna(0)
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,NaN,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
19580,0,MotoGP 07,PS2,2007.0,Racing,Capcom,0.05,0.04,0.00,0.01,0.10
19581,12130,Secret Service: Ultimate Sacrifice,PS2,2008.0,NaN,Activision,0.03,0.03,0.00,0.01,0.07
19582,5887,Monster Truck Madness 64,N64,1999.0,Racing,Take-Two Interactive,0.24,0.06,NaN,0.00,0.30
19583,10408,NaN,PSV,2014.0,Role-Playing,Ubisoft,0.00,0.07,0.02,0.02,0.11
19584,13608,The Monkey King: The Legend Begins,NaN,2007.0,Shooter,Starfish,0.04,NaN,0.00,0.00,0.04

### Limpieza columna "Name" ###

Para la limpieza de esta columna se decidio dropear tanto los datos nulos como los datos invalidos. Esto debido a varios factores:

1.- Ser una columna que no puede llenarse con un dato neutro al ser de suma importancia para el analisis

2.- Ser una columna del tipo categorica

3.- Los datos de esta columna no se pueden inferir mediante los demas datos en la base

4.- Rellenar con datos inciertos podria poner en peligro la integridad del analisis

In [ ]:
#Comprobamos que en efecto, hayan datos nulos
df["Name"].unique()

array([nan, 'Super Mario Bros.', 'Mario Kart Wii', ...,
       'One Piece: Unlimited Adventure', 'Doom 64',
       'The Sims 2: Nightlife'], shape=(11111,), dtype=object)

In [ ]:
#Corroboramos cuantos datos nulos hay
df["Name"].isnull().sum()

np.int64(587)

In [ ]:
#Procedemos a dropear esos registros
df = df.dropna(subset=["Name"])

In [ ]:
#Reemplazamos los datos invalidos por NaN
df["Name"]= df["Name"].replace("Auto%#", np.nan)

C:\Users\USER\AppData\Local\Temp\ipykernel_21868\2508410166.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Name"]= df["Name"].replace("Auto%#", np.nan)

In [ ]:
#Volvemos a eliminar los nuevos datos NaN
df = df.dropna(subset=["Name"])

In [ ]:
#Comprobamos que ya no haya datos nulos
df["Name"].isnull().sum()

np.int64(0)

En este momento, fue un error mio ya que con ayuda de un df auxiliar llamado "duplicados", debido a que algunos juegos tenian mas de 1 lanzamiento en una consola, trate de borrar y reinsertar manualmente los datos duplicdos, los datos NaN y los datos que si bien eran duplicados, no podia dropear con el drop_duplicates debido a tener un NaN en alguna columna. Rescate una amplia cantidad de datos y borre muchos otros duplicados MANUALMENTE. Esto se soluciono en la segunda parte de esta limpieza.

In [195]:
duplicados = df[df["Name"] == "Skylanders SWAP Force"]
duplicados

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,JP_Sales\t
675,677,Skylanders SWAP Force,Wii,2013.0,Platform,Activision,1.32,0.83,0.0,0.20,2.34,NaN
1469,1471,Skylanders SWAP Force,X360,2013.0,Platform,Activision,0.86,0.36,0.0,0.11,1.33,NaN
1930,1932,Skylanders SWAP Force,PS3,2013.0,Platform,Activision,0.43,0.44,0.0,0.20,1.07,0.0
6826,6828,Skylanders SWAP Force,3DS,2013.0,Platform,Activision,0.10,0.12,0.0,0.02,0.24,NaN
18214,3364,Skylanders SWAP Force,WiiU,2013.0,Platform,Activision,0.40,0.15,0.0,0.06,0.60,NaN

In [194]:
#reemplaza los valores de un index en una columna especifica
df.at[1930, 'JP_Sales'] = 0

In [189]:
#elimina todo un registro ingresando su index
df = df.drop(index=18296)

Posterior a esta semilimpieza, procedemos a guardar nuestro progreso

In [ ]:
df.to_csv("df_semilimpiio.csv", index=False)