### Limpieza base de datos (Parte 2) ###

In [65]:
import numpy as np

In [1]:
import pandas as pd
df = pd.read_csv("df_semilimpiio.csv")
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,JP_Sales\t
0,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN
1,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,NaN
2,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,NaN
3,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN
4,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
18574,3427,Lost: Via Domus,X360,2008.0,Action,Ubisoft,0.18,0.34,0.00,0.07,0.59,NaN
18575,0,MotoGP 07,PS2,2007.0,Racing,Capcom,0.05,0.04,0.00,0.01,0.10,NaN
18576,12130,Secret Service: Ultimate Sacrifice,PS2,2008.0,NaN,Activision,0.03,0.03,0.00,0.01,0.07,NaN
18577,5887,Monster Truck Madness 64,N64,1999.0,Racing,Take-Two Interactive,0.24,0.06,NaN,0.00,0.30,NaN
18578,13608,The Monkey King: The Legend Begins,NaN,2007.0,Shooter,Starfish,0.04,NaN,0.00,0.00,0.04,NaN

In [ ]:
#borramos una columna que aÃ±adi por accidente
df = df.drop(columns="JP_Sales\t")

### Limpieza de columna "Platform" ###

En este caso contamos con 556 datos nulos en la columna de plataforma. Sin embargo al ser una columna NECESARIA para este analisis Y ademas representar menos del 5% de los datos (2.99%). Se opto por simplemente dropear 
esos datos nulos

In [27]:
df = df.dropna(subset=["Platform"])
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
1,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
2,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
3,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
4,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
...,...,...,...,...,...,...,...,...,...,...,...
18573,13445,Wayne Gretzky's 3D Hockey '98,PS,1997.0,Sports,GT Interactive,0.03,0.02,0.00,0.00,0.05
18574,3427,Lost: Via Domus,X360,2008.0,Action,Ubisoft,0.18,0.34,0.00,0.07,0.59
18575,0,MotoGP 07,PS2,2007.0,Racing,Capcom,0.05,0.04,0.00,0.01,0.10
18576,12130,Secret Service: Ultimate Sacrifice,PS2,2008.0,NaN,Activision,0.03,0.03,0.00,0.01,0.07
18577,5887,Monster Truck Madness 64,N64,1999.0,Racing,Take-Two Interactive,0.24,0.06,NaN,0.00,0.30

### Limpieza columna "Year" ###

De la misma manera que la columna anterior, al ser esta importante para mantener la integridad del analisis Y representar menos del 5% de mis datos (4,7%), se opto por dropearlos

In [ ]:
df["Year"]= df["Year"].replace("Auto%#", np.nan)
df = df.dropna(subset=["Year"])
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
1,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
2,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
3,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
4,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
...,...,...,...,...,...,...,...,...,...,...,...
18573,13445,Wayne Gretzky's 3D Hockey '98,PS,1997.0,Sports,GT Interactive,0.03,0.02,0.00,0.00,0.05
18574,3427,Lost: Via Domus,X360,2008.0,Action,Ubisoft,0.18,0.34,0.00,0.07,0.59
18575,0,MotoGP 07,PS2,2007.0,Racing,Capcom,0.05,0.04,0.00,0.01,0.10
18576,12130,Secret Service: Ultimate Sacrifice,PS2,2008.0,NaN,Activision,0.03,0.03,0.00,0.01,0.07
18577,5887,Monster Truck Madness 64,N64,1999.0,Racing,Take-Two Interactive,0.24,0.06,NaN,0.00,0.30

### Eliminando registros de las columnas "ventas" con mas de 1 NaN ###

En este momento lo correcto seria rellenar los registros que solamente tienen "NaN" en las columna "Global_sales", esto pudiendo ser facilmente calculado mediante la suma de las ventas por region. Sin embargo antes de hacer esto
primero debemos deshacernos de los registros que cuenten con mas de 1 "NaN" en las demas columnas de ventas. Por que? porque de esta forma podemos calcular los registros que solo tengan un NaN mediante una ecuacion simple (por ejemplo: global_sales = NA sales + JP sales + EU sales + Other sales) mientras que en caso contrario (tener por ejemplo NaN en "jp sales y en eu sales") no se podria calcular correctamente.

In [ ]:
#1.- Creamos una lista con las columnas de ventas
columnas_ventas = ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']

In [ ]:
#2.- Creamos una columna que contara cuantos datos NaN tiene un registro en las columnas de ventas
df["NaN_Counts"] = df[columnas_ventas].isna().sum(axis=1)

In [ ]:
#3.- Ahora conservamos solo los registros que contengan 1 o menos datos NaN en las columnas de ventas
df = df[df['NaN_Counts'] <= 1]

In [ ]:
#4.- Nos deshacemos de la columna que nos auxilio
df = df.drop(columns="NaN_Counts")

In [ ]:
#Dropeamos los duplicados (cosa que no se habia hecho hasta ahora)
df.drop_duplicates()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
1,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
2,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
3,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
4,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
...,...,...,...,...,...,...,...,...,...,...,...
18571,3836,NBA Live 08,X360,2007.0,Sports,Electronic Arts,0.47,0.00,0.00,0.04,0.52
18575,0,MotoGP 07,PS2,2007.0,Racing,Capcom,0.05,0.04,0.00,0.01,0.10
18576,12130,Secret Service: Ultimate Sacrifice,PS2,2008.0,NaN,Activision,0.03,0.03,0.00,0.01,0.07
18577,5887,Monster Truck Madness 64,N64,1999.0,Racing,Take-Two Interactive,0.24,0.06,NaN,0.00,0.30
18578,13608,The Monkey King: The Legend Begins,NaN,2007.0,Shooter,Starfish,0.04,NaN,0.00,0.00,0.04

In [33]:
#comprobamos cuantos datos nulos tenemos
df.isna().sum()

Rank              0
Name              0
Platform          0
Year              0
Genre           504
Publisher       540
NA_Sales        454
EU_Sales        418
JP_Sales        454
Other_Sales     449
Global_Sales    745
dtype: int64

### Calculo de datos nulos en columnas de ventas ###

Una vez que ya solamente nos quedamos con los registros de ventas de los cuales podemos calcular cualquiera de sus columnas en caso de tener datos NaN, procedemos a calcularlos.

In [34]:
#1.- Crear una lista con los registros NaN de global sales
global_nan = df["Global_Sales"].isna()

In [35]:
#2.- Tomamos los registros nulos con .loc y aplicamos la formula
#(Se aÃ±ade .loc a cada uno de los registros a sumarse para aegurarnos que solo se sumen los registros de una misma fila)
df.loc[global_nan, "Global_Sales"] = (
    df.loc[global_nan, 'EU_Sales'] +
    df.loc[global_nan, 'JP_Sales'] +
    df.loc[global_nan, 'NA_Sales'] +
    df.loc[global_nan, 'Other_Sales']
)

In [37]:
#3.- Procedemos a hacer lo mismo  con el resto de las columnas de ventas
eu_nan = df["EU_Sales"].isna()

df.loc[eu_nan, "EU_Sales"] = (
    df.loc[eu_nan, "Global_Sales"]-
    df.loc[eu_nan,"Other_Sales"]-
    df.loc[eu_nan,"JP_Sales"]-
    df.loc[eu_nan, "NA_Sales"]
)

In [38]:
jp_nan = df["JP_Sales"].isna()

df.loc[jp_nan, "JP_Sales"] = (
    df.loc[jp_nan, "Global_Sales"]-
    df.loc[jp_nan,"Other_Sales"]-
    df.loc[jp_nan,"EU_Sales"]-
    df.loc[jp_nan, "NA_Sales"]
)

In [40]:
na_nan = df["NA_Sales"].isna()

df.loc[na_nan, "NA_Sales"] = (
    df.loc[na_nan, "Global_Sales"]-
    df.loc[na_nan,"Other_Sales"]-
    df.loc[na_nan,"EU_Sales"]-
    df.loc[na_nan, "JP_Sales"]
)

In [50]:
other_nan = df["Other_Sales"].isna()

df.loc[other_nan, "Other_Sales"] = (
    df.loc[other_nan, "Global_Sales"]-
    df.loc[other_nan,"NA_Sales"]-
    df.loc[other_nan,"EU_Sales"]-
    df.loc[other_nan, "JP_Sales"]
)

In [68]:
#Ahora corroboramos cuantos datos nulos tenemos
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year              0
Genre           487
Publisher       527
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [69]:
df.shape

(16662, 11)

### Limpieza columna "Genre" ###

Para esta limpieza simplemente dropearemos los NaN de esta columna ya que al ser categorica, seria complicado llenar manualmente cada uno de estos datos Y nuevamente, representan menos del 5% de mis datos (Genre: 2.9%)

In [70]:
df = df.dropna(subset=["Genre"])
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
1,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
2,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
3,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
4,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
...,...,...,...,...,...,...,...,...,...,...,...
18572,1348,Disney Infinity,X360,2013.0,Action,Disney Interactive Studios,0.96,0.37,0.00,0.11,1.43
18573,13445,Wayne Gretzky's 3D Hockey '98,PS,1997.0,Sports,GT Interactive,0.03,0.02,0.00,0.00,0.05
18574,3427,Lost: Via Domus,X360,2008.0,Action,Ubisoft,0.18,0.34,0.00,0.07,0.59
18575,0,MotoGP 07,PS2,2007.0,Racing,Capcom,0.05,0.04,0.00,0.01,0.10
18577,5887,Monster Truck Madness 64,N64,1999.0,Racing,Take-Two Interactive,0.24,0.06,0.00,0.00,0.30

### Limpieza columna "Publisher" ###

Para finalizar con esta limpieza, al igual que con la columna anterior, simplemente dropearmos los NaN por las mismas razones (Ser categorica y representar menos del 5% de los datos (3.1%))

In [72]:
df = df.dropna(subset=["Publisher"])
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
1,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
2,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
3,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
4,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
...,...,...,...,...,...,...,...,...,...,...,...
18572,1348,Disney Infinity,X360,2013.0,Action,Disney Interactive Studios,0.96,0.37,0.00,0.11,1.43
18573,13445,Wayne Gretzky's 3D Hockey '98,PS,1997.0,Sports,GT Interactive,0.03,0.02,0.00,0.00,0.05
18574,3427,Lost: Via Domus,X360,2008.0,Action,Ubisoft,0.18,0.34,0.00,0.07,0.59
18575,0,MotoGP 07,PS2,2007.0,Racing,Capcom,0.05,0.04,0.00,0.01,0.10
18577,5887,Monster Truck Madness 64,N64,1999.0,Racing,Take-Two Interactive,0.24,0.06,0.00,0.00,0.30

In [85]:
df.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

### Guardar nuestra base limpia ###

Para finalizar, simplemente guardamos nuestro data frame limpio en un csv

In [88]:
df.to_csv("df_limpio.csv", index=False)